{% set letters=['A','B','C','D','E'] %}
  <!-- Answers Section -->
<script>
    var answer = false;
    {#var window.ans_num;#}
    var group_id = "{{ g.group.id }}"

    {%  if answer %}
        answer = true
    {%  endif%}


     function set_button_if(idx ){
         {#console.log(( "Index #" + idx + ": " + button ))#}
         {#var classes = $("button.tile").first().attr('class').split(' ')#}
         {#for (i=0; i<classes.length; i++){#}
         {#    if (classes[i].includes('bg-')){#}
         {#       #}
         {#    }#}
         {#}#}
         $(this).removeClass('bg-green');
         $(this).removeClass('bg-violet');
         $(this).removeClass('bg-red');
         $(this).removeClass('bg-blue');

         $(this).removeAttr('id');

         if (idx == window.ans_num){
            console.log(( "Index #" + idx + ",ans " + ans_num + ": " + this ))
            switch (ans_num) {

                case (0):
                    $(this).addClass('bg-green')
                    $(this).attr('id', 'progress_button')
                    break;
                case (1):
                    $(this).addClass('bg-violet')
                    $(this).attr('id', 'progress_button')
                    break;
                case (2):
                    $(this).addClass('bg-red')
                    $(this).attr('id', 'progress_button')
                    break;
                case (3):
                    $(this).addClass('bg-blue')
                    $(this).attr('id', 'progress_button')
                    break;
            }
         }
     }

    function on_sel_ans(ans_num) {
        var buttons = $("button.tile");
        window.ans_num = ans_num;
        buttons.each(set_button_if);
    }
</script>

  <section class="section" id="choices">
     <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-12 is-vertical is-parent">

              {% for c in choices %}
                <button id="ans_button" onclick="send_answer({{ loop.index-1 }})" class="tile is-child box
                    {% if answer and c.correct %}
                        bg-green
                    {% elif answer and (c.id == answer.choice.id and not c.correct) %}
                        bg-red
                    {% endif %}">

                      <p class="title">{{ letters[loop.index-1] }}</p>
                      <p>{{  c.text }}</p>

                </button>
              {% endfor %}
          </div>
        </div>
     </div>
  </section>

