<section class="section" id="group-info">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Group</p>
                <p class="title">
                    {{ g.group.name }}
                    <br>
                    <a href="/logout" class="is-warning">
                        Logout
                    </a>
                </p>
            </div>
        </div>
        {% if not g.gh.get_players() %}
            {% set curr_p=g.gh.get_curr_player() %}
            {% for p in g.group.players %}
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Player</p>
                              <p class="title">
                              {{ p.name }}
                              </p>
                              {% if p.avatar %}
                                  <p>
                                   {% if p==curr_p %}
                                       {% set active=True %}
                                       {% endif %}
                                  {% set avatar=p.avatar %}
                                  {% include  'avatar/avatar.htm' %}
                                   {% set active=False %}
                                  </p>
                              {% endif %}
                              <p class="title">
                              {{ p.get_score() }}
                              </p>
                    </div>
                 </div>
            {% endfor %}
        {% endif %}

    </nav>
</section>