.DS_Store
__pychache__/
venv/
.idea/


/src/mqtt-broker/build/
/src/mqtt-broker/mosquitto

/src/node-red/data/*
/src/*/__pycache__/
/src/py-common/__pycache__/
/src/common/__pycache__/
/src/py-http-server/__pycache__/

/src/riot-cube/bin/*
/src/riot-cube/build/*
src/riot-cube/.vscode/c_cpp_properties.json
src/riot-cube/.vscode/settings.json
