.DS_Store
__pycache__/
venv/
.idea/
.vscode/

/src/postgres/data/*
/src/grafana/data/*
/src/node-red/data/lib
/src/node-red/data/node_modules
/src/node-red/data/.npm/
/src/node-red/data/.*
/src/riot-cube/bin/*
