<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Wise-Cube</title>
      <link rel="main.css" type="text/css">

  </head>
  <body>
    <h1>Cubes</h1>
    <table>
        {% for c in cubes  %}
            <tr>
            <td>
                {{ c.id }}
            </td>
            <td>
                 {% for p in c.players  %}
                     {{ p.name }}
                 {% endfor %}
            </td>
            <td>
                <a href="{{ url_for("new_game_trigger") + "?game_id=1&cube_id=" + (c.id | string) }}">Set Game 1</a>
                <a href="{{ url_for("new_game_trigger") + "?game_id=2&cube_id=" + (c.id | string) }}">Set Game 2</a>
                <a href="{{ url_for("new_game_trigger") + "?game_id=3&cube_id=" + (c.id | string) }}">Set Game 3</a>
            </td>
            <td>
                <a href="{{ url_for("start_game_trigger") + "?cube_id=" + (c.id | string) }}">Start Game</a>
                <a href="{{ url_for("stop_game_trigger") + "?cube_id=" + (c.id | string) }}">Stop Game</a>
            </td>
            <td>
                <a href="{{ c.join_url() }}"> {{ c.join_url() }}</a>

            </td>
            <td>
                <img src="{{ qrcode(c.join_url())  }}">
            </td>
            </tr>
        {% endfor %}
    </table>
  </body>
</html>
