<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wise-Cube</title>
  </head>
  <body>
    {% extends "homepage.html" %}
    {% block content %}
    <p> This is the interactive game page </p>

    <div class="Question" id="Question">
        {% if question %}
          <h1> {{ question }}</h1>
        {% endif %}
    </div>

    <div class="Answers" id="Answers">
      <button type="button" name="A">
          {% if a %}
          <h1> {{ a }}</h1>
        {% endif %}
      </button>
      <button type="button" name="B">
          {% if b %}
          <h1> {{ b }}</h1>
        {% endif %}
      </button>
      <button type="button" name="C">
          {% if c %}
          <h1> {{ c }}</h1>
        {% endif %}
      </button>
      <button type="button" name="D">
          {% if d %}
          <h1> {{ d }}</h1>
        {% endif %}
      </button>

        {% if txt_a %}
          <h1> {{ txt_a }}</h1>
        {% endif %}
    </div>

    {% endblock %}
  </body>
</html>
