<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Wise-Cube</title>
      <link rel="main.css" type="text/css">

  </head>
  <body>
    <h1>Players</h1>
    <table>
        {% for p in players  %}
            <tr>
            <td>
                {{ p.id }}
            </td>
            <td>
                {{ p.name }}
            </td>
            <td>
                {% if not p.auth_token %}
                    {{ "None" }}
                {% else %}
                    <a href= {{ "http://" + host + "/player?auth_token=" + p.auth_token }}>Profile/Login Link</a>
                {% endif %}
            </td>
                <td>
                {% if not p.auth_token %}
                    {{ "None" }}
                {% else %}
                   {% set join_url = "http://" + host + "/player/" + p.auth_token %}
                    {% set join_qr =  qrcode(join_url,box_size=10)%}
                    <img src="{{ join_qr  }}">
                {% endif %}
            </td>


            </tr>
        {% endfor %}
    </table>

  </body>
</html>
