{% extends 'tables/base.htm' %}
{% block tbody %}
        {% for p in players  %}
            <tr>
                <td>
                    {{ p.id }}
                </td>
                <td>
                    {{ p.name }}
                </td>
                <td>
                    {{ p.type }}
                </td>
                <td>
                    {{ p.cube_id }}
                </td>
                <td>
                    {{ p.score }}
                </td>
                <td>
                    {% include 'buttons/login_auth_token.htm' %}
                </td>
            </tr>
        {% endfor %}
{% endblock %}
