{% set curr_question=group.current_game.rounds[group.current_round-1] %}
{% set letters=['A','B','C','D','E'] %}
  <!-- Answers Section -->
  <section class="section" id="choices">
     <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-12 is-vertical is-parent">

              {% for c in curr_question.choices %}
                <div class="tile is-child box A">
                  <p class="title">{{ letters[loop.index-1] }}</p>
                  <p>{{  c.text }}</p>
                </div>
              {% endfor %}
          </div>
        </div>
     </div>
  </section>

