<section class="section">
    <div class="container">
        <form class="form" action="/new_group" method="post">
            {# Form Group Name #}
            <div class="field">
              <label class="label">Group Name</label>
              <div class="control">
                <input class="input" type="text" name="group_name" >
              </div>
            </div>
            {# Form Buttons #}
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-success">Create Group</button>
              </div>
            </div>

        </form>
    </div>
</section>