version: '3.6'

services:
  mqtt-broker:
    build: mqtt-broker
    networks:
      - default
    expose:
      - 1884
    ports:
      - 1884:1884
      - 1885:1885
    volumes:
      - ./mqtt-broker/conf:/mosquitto/config/

  mqtt-sample:
    environment:
      IS_DOCKER: 1
    build: py-mqtt-sample
    networks:
      - default
    volumes:
      - ./py-mqtt-sample:/src/
      - ./py-common:/src/common
    depends_on:
      - mqtt-broker
      - db

  http-server:
    build: py-http-server
    depends_on:
      - db
      - mqtt-sample
    environment:
      STAGE: test
      SQLALCHEMY_DATABASE_URI: postgresql+psycopg2://test:test@db/wise-cube
    networks:
      - default
    ports:
      - 5000:5000
    volumes:
      - ./py-http-server:/src/
      - ./py-common:/src/common
    restart: always

  db:
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: wise-cube
    image: postgres:latest
    networks:
      - default
#    ports:
#      - 5432:5432
    expose:
      - 5342
    restart: always
#    volumes:
#      - ./postgres-data:/var/lib/postgresql/data
